body {
    background-color: var(--bg-page);
}

button {
    font-family: 'Roboto', sans-serif;
    padding: 4px 10px;
    width: 85px;
    height: 24px;
    border-radius: 10px;
    background-color: var(--main-blue);
    color: var(--white);
    font-size: 10px;
    font-weight: 700;
    cursor: pointer;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

h2 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    color: var(--white);
}

#p-hero-1 {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    word-break: keep-all;
    margin-bottom: 48px;
    color: var(--white);
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color:  var(--marine-blue-headings);
}