body {
    background-color: var(--bg-page);
}

button {
    font-family: 'Roboto', sans-serif;
    padding: 4px 10px;
    width: 85px;
    height: 24px;
    border-radius: 10px;
    background-color: var(--main-blue);
    color: var(--white);
    font-size: 10px;
    font-weight: 700;
    cursor: pointer;
}

a {
    cursor: pointer;
}

.card-item-services {
    cursor: pointer;
}

.card-content-suits {
    cursor: pointer;
}

.content-footer-span {
    cursor: pointer;
}



.links-header {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: var(--marine-blue-headings);
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

h2 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    color: var(--button-colour);
}

#p-hero-1 {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    word-break: keep-all;
    margin-bottom: 48px;
    color: var(--marine-blue-headings);
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: var(--marine-blue-headings);
}

#sub-title-service {
    font-family: 'Robot', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: var(--color-sub-titles);
}

#title-service {
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: var(--marine-blue-headings);   
}

#p-description-service {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: var(--light-grey);
}

#title-card-service {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: var(--marine-blue-headings);
}

#p1-card-service {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
    color: var(--grey);
}

#p2-card-service {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    color: var(--grey);
}

#p3-card-service {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    color: var(--grey);
}

#p3-card-service {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    color: var(--grey);  
}

#title-suits {
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 130%;
    color: var(--marine-blue-headings);
    text-align: center;
    margin-bottom: 56px;
}

select {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
}

.number {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--grey);
}

#locate-suits {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: var(--grey);
}

#price-suits {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: var(--button-colour);
}

.btn-suit {
    display: block;
    margin: 0 auto;
    margin-top: 56px;
    margin-bottom: 80px;
}

#title-work-us {
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: var(--marine-blue-headings);
    text-align: center;
}

#work-us-description {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: var(--light-grey);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

#work-us-description-list {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 130%;
    color: var(--grey);
}

#p-logo-footer {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: var(--grey);
    text-align: center;
}

.title-footer {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: var(--marine-blue-headings);
    text-align: center;
    margin-bottom: 16px;
}

.content-footer-span {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: var(--grey);
    text-align: center;
}