/* font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lato:wght@400;700&family=Roboto:wght@400;700&family=PT+Sans:wght@400&display=swap');

/* config css */
.container {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
}

body {
    overflow-x: hidden;
}

/* HEADER */
.header {
    padding: 0 8px;
}

.logo-header {
    display: flex;
    align-items: center;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-header img {
    width: 54px;
    height: 54px;
}

#agile {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: var(--button-colour);
}

.links-and-btn-header {
    display: flex;
    align-items: center;
    gap: 32px;
}

.links-and-btn-header a:hover {
    border-bottom: 3px solid var(--button-colour);
}

.links-header {
    display: none;
}


/* SECTION HERO 1 */
#search {
    margin-bottom: 66px;
}

#img-bg-hero {
    width: 300px;
    filter: brightness(60%);
}

.hero-1-content {
    z-index: 1;
}

.hero-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 50px;
}

.input-hero-1 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

#input-hero {
    font-family: sans-serif;
    width: 180px;
    font-size: 10px;
    font-weight: 400;
    color: var(--light-grey);
    padding: 7px 10px;
    border-radius: 10px;
}

#btn-hero-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 8px;
}

#btn-hero-1 img {
    width: 15px;
    height: 15px;
}

/* HERO 2 */
.hero-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 33px;
}

.hero-2 img {
    width: 70px;
    height: 20px;
}

.clients {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-bottom: 61px;
}

#border-search {
    height: 1px;
    background-color: var(--light-grey);
    width: 95%;
}


/* SECTION SERVICES */
#services {
    margin-bottom: 114px;
}

.services {
    padding: 8px;
    width: 100%;
    max-width: 1260px;
    background: rgba(194, 212, 251, 0.34);
    border-radius: 20px;
}

#dots {
    width: 63px;
    height: 16px;
    margin-top: 39px;
}

#sub-title-service {
    text-align: center;
    display: block;
    margin-top: 32px;
}

#title-service {
    text-align: center;
}

#p-description-service {
    text-align: center;
    margin-top: 5px;
}

.services-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.see-more-services {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
}

#p-description-service {
    margin-bottom: 16px;
}

.services-content-card {
    display: flex;
    flex-direction: column-reverse;
}


/* CARDS SERVICE */
.cards-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.card-item-services {
    width: 100%;
    max-width: 245px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 37px 16px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 8px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-item-services img {
    width: 50px;
    height: 50px;   
}


/* SECTION SUITS */
select {
    padding: 7px 27px;
    color: var(--button-colour);
    background-color: #C2D4FB57;
    border-radius: 15px;
    margin: 0 60%;
}

.grid-card-content {
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    grid-gap: 75px 32px;
}

.card-content-suits {
    padding: 17px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    background-color: var(--light-blue);
    border-radius: 12px;
}

.info-card-suits {
    display: flex;
    align-items: center;
    gap: 10px;
}

#img-card-suit {
    width: 100%;
    max-width: 335px;
}

#price-suits {
    margin-left: 70px;

}


/* SECTION WORK US */
.work-us {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-work-us {
    width: 100%;
    max-width: 606px;
}

.work-us-list {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 20px;
}

#work-us-description-list {
    margin-bottom: 44px;
}

#read-more {
    margin: 0 auto;
    display: block;
}


/* FOOTER */
.footer {
    padding: 8px;
    border-top: 3px solid var(--light-blue);
}

.content-logo-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#p-logo-footer {
    margin-top: 30px;
}

.footer-content {
    border-top: 3px solid var(--light-blue);
    margin-top: 16px;
}

.title-footer {
    margin-top: 26px;
    margin-bottom: 16px;
}

.content-title-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.logos-footer {
    display: flex;
    justify-content: center;
    gap: 16px;
}